.badge-warning {
  @apply bg-beige-100 text-beige-500 dark:bg-yellow-900/30 dark:text-beige-300;
}

.badge-success {
  @apply bg-green-100 text-green-800 dark:bg-green-900/30 dark:text-green-300;
}

.badge-info {
  @apply bg-sky-100 text-sky-600 dark:bg-sky-700/30 dark:text-sky-300;
}

.badge-neutral {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-300;
}

.badge-danger {
  @apply bg-red-100 text-red-800 dark:bg-red-900/30 dark:text-red-300;
}
