.badge-warning {
  @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900/30 dark:text-yellow-300;
}

.badge-success {
  @apply bg-success-light/20 text-success-light dark:bg-success-light/30 dark:text-success-light;
}

.badge-info {
  @apply bg-cta-default/20 text-cta-default dark:bg-cta-default/30 dark:text-cta-default;
}

.badge-neutral {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-300;
}

.badge-danger {
  @apply bg-red-100 text-red-800 dark:bg-red-900/30 dark:text-red-300;
}
