# This file is used to configure npm and pnpm
# It is recommended to use a .npmrc file in the root of your project
# to configure npm and pnpm for your project

# Example:
# registry=https://registry.npmjs.org/
