/** Ionic CSS Variables **/
:root {
  /** Primary Brand Color **/
  --ion-color-primary: #4f46e5;
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #463dca;
  --ion-color-primary-tint: #615ae8;

  /** Secondary **/
  --ion-color-secondary: #7c3aed;
  --ion-color-secondary-rgb: 124, 58, 237;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6d33d1;
  --ion-color-secondary-tint: #8950ef;

  /** Success **/
  --ion-color-success: #10b981;
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ea372;
  --ion-color-success-tint: #28c197;

  /** Warning **/
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  /** Danger **/
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /** Dark **/
  --ion-color-dark: #111827;
  --ion-color-dark-rgb: 17, 24, 39;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0f1522;
  --ion-color-dark-tint: #29303d;

  /** Medium **/
  --ion-color-medium: #6b7280;
  --ion-color-medium-rgb: 107, 114, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e6471;
  --ion-color-medium-tint: #7a808e;

  /** Light **/
  --ion-color-light: #f9fafb;
  --ion-color-light-rgb: 249, 250, 251;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dbdcdd;
  --ion-color-light-tint: #fafbfb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #818cf8;
    --ion-color-primary-rgb: 129, 140, 248;
    --ion-color-primary-contrast: #000000;
    --ion-background-color: #111827;
    --ion-text-color: #f9fafb;
    --ion-toolbar-background: #1f2937;
    --ion-card-background: #1f2937;
  }
}
