<div class="radar-chart-container">
  <svg [attr.viewBox]="getViewBox()" [attr.width]="size" [attr.height]="size" class="radar-chart">
    <!-- Grid levels -->
    @if (showGrid) {
      <g class="grid-levels">
        @for (levelPath of gridLevels; track levelPath; let i = $index) {
          <path
            [attr.d]="levelPath"
            [attr.stroke-opacity]="0.2 - i * 0.03"
            class="grid-line"
            />
        }
      </g>
    }

    <!-- Axis lines -->
    <g class="axis-lines">
      @for (axis of axisLines; track axis) {
        <line
          [attr.x1]="axis.x1"
          [attr.y1]="axis.y1"
          [attr.x2]="axis.x2"
          [attr.y2]="axis.y2"
          class="axis-line"
          />
      }
    </g>

    <!-- Data area -->
    <g class="data-area">
      <path [attr.d]="dataPath" class="data-path" />
      <path [attr.d]="dataPath" class="data-path-fill" />
    </g>

    <!-- Data points -->
    <g class="data-points">
      @for (point of dataPoints; track point) {
        <circle
          [attr.cx]="point.x"
          [attr.cy]="point.y"
          r="4"
          class="data-point"
          />
      }
    </g>

    <!-- Labels -->
    @if (showLabels) {
      <g class="labels">
        @for (label of labelPositions; track label; let i = $index) {
          <text
            [attr.x]="label.x"
            [attr.y]="label.y"
            [attr.text-anchor]="getTextAnchor(i)"
            [attr.dy]="getTextDy(i)"
            class="label-text"
            >
            <tspan class="label-name">{{ label.label }}</tspan>
            <tspan [attr.x]="label.x" [attr.dy]="'1.2em'" class="label-value">
              {{ label.value.toFixed(1) }}
            </tspan>
          </text>
        }
      </g>
    }
  </svg>
</div>
