@if (carValue(); as c) {
  <app-car-card-view
    [car]="c"
    [selected]="selected"
    [distance]="distance"
    [isComparing]="isComparing"
    [compareDisabled]="compareDisabled"
    [showOwnerActions]="showOwnerActions"
    [priority]="priority"
    [urgentMode]="urgentMode"
    [mapVariant]="mapVariant"
    [priceUsd]="priceUsd()"
    [priceLoading]="priceLoading()"
    (compareToggle)="compareToggle.emit($event)"
    (edit)="edit.emit($event)"
    (delete)="delete.emit($event)"
    (toggleAvailability)="toggleAvailability.emit($event)"
  />
}
