<head>
<meta charset="UTF-8">
<style>
    body {
      font-size: 32px;
      padding-left: 12px;
      padding-right: 12px;
    }
  </style>
  </meta>
</head>
<p>
    <strong>TÉRMINOS Y CONDICIONES GENERALES DE USO PARA PROPIETARIOS.</strong>
</p>
<p>
    El presente documento establece los Términos y Condiciones Generales (en
    adelante, “TCG”) bajo los cuales usted (en adelante, “el Propietario”)
    utilizará los Servicios de la Plataforma de MOVICAR S.A.S, con domicilio en
    Av. General Rivera 4992, Montevideo, (en adelante, “TripWip”, ambas
    identificadas como las partes “las Partes”), para publicar su/s vehículo/s
    que ofrezca en arrendamiento a Conductores que busquen arrendarlos.
</p>
<ol>
    <li>
        <strong>Definiciones.</strong>
    </li>
<p>
    <strong>Conductor:</strong> es toda persona física, jurídica o entidad que
    tiene interés en arrendar un vehículo.
</p>
<p>
    <strong>Propietario:</strong> toda persona física, jurídica o entidad que
    desee dar en arrendamiento un vehículo de su propiedad.
</p>
<p>
    <strong>Datos Personales:</strong> es la información de cualquier tipo
    referida a personas físicas o jurídicas determinadas o determinables que sea
    considerada como tal por la normativa aplicable, entendiéndose a estos
    efectos como toda información no pública que tenga su origen o se encuentre
    relacionada con el contenido, ejecución y efectos del los presentes TCG y
    sea susceptible de ser revelada de palabra, por escrito o por cualquier otro
    medio o a través de cualquier soporte, actualmente conocido o que se invente
    en el futuro.
</p>
<p>
    <strong>Servicios:</strong> son todos los servicios de intermediación
    prestados por TripWip a los Conductores y Propietarios para que se puedan
    concretar contratos de arrendamiento de vehículo/s del Propietario, de
    acuerdo con lo que se describe en el presente documento.
</p>
<p>
    <strong>Plataforma:</strong> comprende todas las herramientas informáticas
    puestas a disposición de los Conductores y los Propietarios para que puedan
    utilizar los Servicios que TripWip presta a través de Internet en la
    modalidad “SaaS” (Software as a Service / Software como un servicio).
</p>
<p>
    <strong>Propiedad Intelectual:</strong> incluye derechos de autor y conexos,
    bases de datos, invenciones (patentadas o no); marcas y nombres comerciales;
    know how, secretos industriales o comerciales, compilaciones de información
    y cualquier derecho intelectual sobre software, su diseño de interfaz,
    código fuente, código objeto, manuales y toda otra información o
    documentación asociada.
</p>
    <li>
        <strong>Alcance de los servicios.</strong>
    </li>
<p>
    TripWip pone a disposición de Propietarios y Conductores una Plataforma que
    les permite a los Propietarios ponerse en comunicación con el Conductor con
    el objeto de que arriende vehículos del Propietario dentro del territorio
    nacional. TripWip no es el Propietario de los vehículos, no tiene posesión
    de ellos ni los ofrece en arrendamiento. Por lo tanto, las Partes aceptan
    que TripWip únicamente presta Servicios de intermediación entre Propietarios
    y Conductores, sin intervenir en la celebración ni ejecución de los
    arrendamientos
</p>
    <li>
        <strong>Condiciones para registrarse.</strong>
    </li>
<p>
    Para registrarse como Propietario, es requisito tener capacidad legal para
    contratar, ser propietario o copropietario de un vehículo empadronado a
    partir de 2013, libreta de propiedad del vehículo y contar con licencia de
    conducir o cédula de identidad que coincida con los datos indicados en la
    libreta de propiedad del vehículo.
</p>
    <li>
        <strong>Creación de cuenta.</strong>
    </li>
<p>
    Para utilizar los Servicios de TripWip, el Propietario debe disponer de una
    computadora o celular tipo smartphone con sistema operativo IOS o Android.
    Luego de ingresar a la Plataforma y aceptar los presentes TCG, se deberá
    crear una cuenta de usuario en adelante ¨la Cuenta¨, para lo cual se le
    solicitarán los siguientes datos personales: nombre; fecha de nacimiento;
    documento de identidad y/o RUT; país de residencia; ciudad; domicilio
    constituido; correo electrónico y celular de contacto; una foto de ambos
    lados de la libreta de propiedad del vehículo; una selfie con la libreta de
    propiedad en mano; además de requerirle que genere su contraseña (en
    adelante ¨los Datos¨).
</p>
<p>
    Los Propietarios garantizan y responden sobre la veracidad, vigencia,
    exactitud, autenticidad y actualización de los Datos aportados a TripWip.
    TripWip no puede garantizar la identidad de los Propietarios, de todos
    modos, podrá solicitar información adicional con el objetivo de comprobar o
    corroborar los Datos aportados por el Propietario. En relación a lo
    anterior, Tripwip se reserva el derecho a suspender temporal o
    definitivamente una Cuenta en caso de no poder confirmar la información
    aportada o cuando corrobore que la misma sea falsa, inexacta o fraudulenta.
</p>
    <li>
        <strong>Publicación del vehículo.</strong>
    </li>
<p>
    Al completar los campos requeridos para el registro, y una vez aceptado por
    TripWip, el Propietario quedará habilitado para publicar su vehículo en la
    Plataforma.
</p>
<p>
    Al momento de registrar el vehículo, TripWip solicitará al Propietario los
    siguientes datos del vehículo: matrícula, padrón, marca, modelo, año,
    kilometraje y fotos del vehículo. Adicionalmente el Propietario deberá
    detallar las comodidades del vehículo publicado, por ejemplo: alarma, aire
    acondicionado, control de crucero, GPS, Bluetooth, etc. Por último el
    Propietario, deberá fijar las formas de entrega y devolución del vehículo,
    el precio diario de arrendamiento, el límite de kilómetros diarios permitido
    y si van a aplicar descuentos por arrendamientos prolongados.
</p>
<p>
    Luego de ingresados los datos en la Plataforma, TripWip tendrá un plazo de
    48 horas para aprobar o rechazar la solicitud explicitando los motivos y/o
    requiriendo datos adicionales y enviar la correspondiente notificación al
    Propietario.  Una vez aprobada la solicitud, el vehículo quedará publicado.
</p>
    <li>
        <strong>Precio del arrendamiento.</strong>
    </li>
<p>
    El Propietario podrá optar entre fijar el precio automáticamente de acuerdo
    con la oferta y la demanda o manualmente de acuerdo a su criterio propio. En
    caso de optar por el mecanismo de fijación automático del precio, acepta que
    se compromete a mantener la oferta para el Conductor que haya aceptado el
    precio y nada tendrá que reclamar a TripWip en relación con la cuantía del
    precio que haya quedado establecido.
</p>
    <li>
        <strong>Kilometraje y combustible.</strong>
    </li>
<p>
    El precio de arrendamiento diario detallado en la Plataforma incluye un
    límite de 250 km por día. El Conductor tiene la posibilidad de incluir
    kilometraje ilimitado al momento de efectuar la reserva, lo que le implicará
    un costo extra. En caso de no incluir el kilometraje ilimitado y sobrepasar
    los 250 km diarios, se cobrará al Conductor un cargo extra de $2 (dos pesos
    uruguayos) por kilómetro.
</p>
<p>
    El Propietario se compromete a entregar al Conductor el vehículo con su
    tanque de combustible completo. Por su parte, el Conductor deberá devolverlo
    de la misma manera.
</p>
<p>
    Dado el caso que el arrendatario devuelva el vehiculo con tanque incompleto,
    tripwip puede evaluar descontárselo de la retención efectuada y resarcir al
    dueño en caso de combustible no pago. TripWip no se hace responsable por
    casos que generen incertidumbre o excepcionales.
</p>
    <li>
        <strong>Garantía limitada.</strong>
    </li>
<p>
    Al momento de reservar un vehículo, TripWip realizará una retención de la
    tarjeta de crédito del Conductor USD 400 (cuatrocientos dólares americanos)
    en concepto de garantía limitada. La retención se hará efectiva el día de
    entrega del vehículo y quedará liberada a los siete días hábiles de su
    devolución, siempre y cuando no se denuncien siniestros, daños o reclamos
    por multas o peajes por parte Propietario en dicho plazo.
</p>
    <li>
        <strong>Peajes y multas.</strong>
    </li>
<p>
    Los Conductores son quienes deben asumir los costos de los peajes y de las
    posibles multas aplicadas por violación de los Conductores a las normas de
    tránsito durante el período de arrendamiento.
</p>
<p>
    Todos los vehículos publicados en la Plataforma deben contar con un
    telepeaje activado. Al momento de la entrega del vehículo, el Propietario
    acordará con el Conductor el monto que se cargará en la plataforma de
    Telepeaje y el Conductor tendrá que asumir dicho costo.
</p>
<p>
    Si durante el periodo de arrendamiento, el vehículo registra multas por
    infracciones de tránsito o deudas por peajes no acordadas, el Conductor
    podrá asumir su responsabilidad directamente con el Propietario y si esto no
    ocurre el Propietario tendrá un plazo de siete días hábiles a contar desde
    el día de devolución del vehículo para denunciar la multa ante TripWip y
    solicitar el reembolso, de conformidad con lo establecido en la cláusula
    precedente.
</p>
<p>
    Al recibir un reclamo por multas, TripWip analizará la situación y si lo
    entiende correspondiente retendrá de la suma depositada en garantía el total
    reclamado o cobrará en nombre del propietario el monto reclamado a la
    tarjeta de crédito aportada por el Conductor para su reembolso inmediato al
    Propietario.
</p>
<p>
    El reembolso se efectuará al dueño mediante transferencia bancaria.
</p>
    <li>
        <strong>Seguros.</strong>
    </li>
<p>
    El arrendamiento a través de la Plataforma está sujeto a la previa
    contratación de una póliza de Seguro automotor que será contratada por
    TripWip por cuenta y orden del Propietario. TripWip no forma parte del
    contrato de seguro, siendo el Propietario el asegurado por el proveedor de
    la póliza y quien deberá soportar todos los riesgos inherentes al negocio de
    arrendamiento que no resulten cubiertos por la aseguradora.
</p>
<p>
    La cobertura del Seguro está destinada a proteger a los Propietarios por
    daños causados a su Vehículo <strong>dentro del territorio nacional</strong>
    (excepto en los casos de exclusión de acuerdo con lo establecido del
    contrato de Seguro).
    <strong>
        El Propietario declara conocer y aceptar las condiciones del contrato de
        Seguro que se encuentran en el documento adjunto al presente acuerdo.
    </strong>
</p>
    <li>
        <strong>Procedimiento de reserva.</strong>
    </li>
<p>
    El Conductor que desee reservar un vehículo, deberá completar los siguientes
    filtros incluidos en la plataforma: zona, tipo de vehículo, modo de entrega,
    modo de devolución y fechas de arrendamiento. TripWip informará los
    vehículos disponibles, de acuerdo con las necesidades del Conductor,
    indicando el precio total de cada uno. El Conductor procederá a elegir el
    vehículo y hacer la reserva, debiendo abonar a través de la plataforma Handy
    una fracción del monto total del arrendamiento TripWip no participa en el
    proceso de cobranzas de este adelanto del precio del arrendamiento.
    Posteriormente, deberán coordinar entre el Propietario y el Conductor la
    forma en que se abonará el saldo restante. TripWip no es responsable de la
    efectivización del pago restante. El dueño será responsable de cobrar el
    saldo restante al arrendatario. Posteriormente, TripWip enviará una
    solicitud al Propietario, quien deberá aceptarla o rechazarla en un plazo de
    48 horas. Si el Propietario rechaza el arrendamiento, TripWip indicará a la
    plataforma de pago utilizada (Handy), que procederá a devolver el monto de
    la reserva en un plazo de 72 horas. Luego de confirmada la reserva, TipWip
    emitirá al Propietario la factura correspondiente al precio por sus
    Servicios y el correspondiente comprobante al pago de la prima por póliza de
    seguro (cláusula 10) y pondrá en contacto a Propietarios y Conductores.
</p>
    <li>
        <strong>Cancelación de una reserva.</strong>
    </li>
<p>
    El Conductor podrá cancelar un arrendamiento hasta 48 horas antes de la
    fecha de inicio del arrendamiento y TripWip procederá a indicar a la
    plataforma de pagos (Handy) realizar la devolución del pago realizado. Todo
    arrendamiento que sea cancelado con una anticipación menor a 48 horas, o
    incluso durante el mismo, no generará la devolución de suma alguna por parte
    de la plataforma de pagos utilizada (Handy) y/o del Propietario al
    Conductor.
</p>
    <li>
        <strong>Entrega y devolución del vehículo.</strong>
    </li>
<p>
    Propietarios y Conductores coordinarán entre sí los puntos de entrega y
    devolución del vehículo. Con la entrega del vehículo, el Conductor deberá
    efectuar el pago del monto pendiente de acuerdo con lo establecido en la
    cláusula 11. Por su parte, el Propietario entregará al Conductor junto con
    el vehículo: un juego de llaves y toda la documentación y elementos
    necesarios para circular (copia de libreta de propiedad, copia de póliza de
    seguro SOA, botiquín de primeros auxilios, baliza reglamentaria, rueda de
    auxilio, cricket o “gato” elevador y bomberito (que debe ser triclase, de un
    kilo y de polvo), balizas fabricadas bajo el régimen IRAM) los que serán
    devueltos junto con el vehículo al finalizar el arrendamiento.
    Adicionalmente, bajo supervisión del Conductor, el Propietario deberá tomar
    desde la Plataforma las siguientes fotos de su vehículo: delantera, trasera,
    lateral derecha, lateral Izquierda, interior delantero, interior trasero,
    Kilometraje en tablero y nivel de combustible en tablero.
</p>
<p>
    En caso de que el propietario sea contribuyente del Impuesto a las Rentas de
    las Actividades Económicas (en adelante “IRAE”) y por lo tanto de Impuesto
    al Valor Agregado (en adelante “IVA”) deberá entregar un documento fiscal
    (factura, e-factura, boleta contada, e-ticket, etc., según corresponda) que
    respalde la operación de arrendamiento. TripWip no es responsable por el no
    cumplimiento de estos requisitos por parte del propietario.
</p>
<p>
    Se deja constancia que de cumplirse este último caso, el precio pactado por
    el arrendamiento es IVA incluido.
</p>
<p>
    Al efectuarse la devolución del vehículo, el Propietario deberá inspeccionar
    el vehículo avisando inmediatamente a TripWip en caso de constatar daños en
    el mismo. Adicionalmente, el Propietario bajo supervisión del Conductor
    deberá tomar desde la Plataforma las siguientes fotos de su vehículo:
    delantera, trasera, lateral derecha, lateral Izquierda, interior delantero,
    interior trasero, Kilometraje en tablero y nivel de combustible en tablero.
</p>
<p>
    <strong>
        El Propietario acepta y reconoce que la inspección final del vehículo es
        la única instancia para efectuar reclamos por daños al vehículo
    </strong>
    . Todo reclamo por daños en el vehículo realizado luego de la devolución de
    la garantía (cláusula 8) no obligará a los Conductores (ni a TripWip) a
    resarcimiento o indemnización de tipo alguno.
</p>
    <li>
        <strong>Interrupción del arrendamiento.</strong>
    </li>
<p>
    Únicamente el Conductor tiene la posibilidad de interrumpir el arrendamiento
    durante el periodo de contratación, lo cual no generará derecho a obtener
    devolución alguna del precio de parte de TripWip o el Propietario. En caso
    de optar por una interrupción anticipada del arrendamiento, el Conductor
    deberá contactar al Propietario para coordinar la entrega anticipada del
    vehículo, en los términos de la cláusula 13 del presente acuerdo.
</p>
<p>
    Sin perjuicio de lo anterior, cuando los motivos de la interrupción se deban
    a incumplimientos de las condiciones acordadas por parte del Propietario o a
    la imposibilidad de utilizar el vehículo para los fines previstos en la
    oferta, el Conductor podrá solicitar a TripWip que ordene la devolución del
    precio del arrendamiento por parte del Propietario. El Propietario acepta y
    reconoce que asumirá, además de la devolución del 100% del precio pagado por
    el Conductor, el precio por los Servicios prestados por TripWip y la póliza
    de seguro.
</p>
<p>
    El Propietario acepta y reconoce que asumirá, la devolución del 100% del
    precio pagado por el Conductor (entrega inicial y saldo), no teniendo
    derecho a la restitución del el precio pagado por los Servicios prestados
    por TripWip y la póliza de seguro.
</p>
<p>
    TripWip se reserva la posibilidad de sancionar temporal o definitivamente a
    todo Propietario que solicite la devolución de su vehículo durante el
    periodo de arrendamiento.
</p>
    <li>
        <strong>
            Resolución de conflictos por daños o reclamos no cubiertos por la
            póliza de seguro.
        </strong>
    </li>
<p>
    El Propietario acepta y reconoce que soportará todos los riesgos por daños
    que pudiera sufrir su vehículo o cualquier otro daño como consecuencia del
    arrendamiento. Sin embargo, podrá requerir a TripWip que gestione una
    indemnización por parte del Conductor mediante la afectación de la garantía
    prevista en la cláusula 8 y limitada al monto de ésta.
</p>
<p>
    En caso de recibir un reclamo por parte de un Propietario al momento de la
    entrega del vehículo, TripWip estudiará los daños en su vehículo analizando
    las fotos subidas a la Plataforma, y no hará efectiva la devolución de la
    garantía al Conductor hasta tanto no resuelva la situación.
</p>
<p>
    Si a juicio de TripWip el reclamo tiene mérito, procederá a solicitarle al
    Propietario que envíe una cotización de los daños en un plazo de 72 horas.
</p>
<p>
    El Propietario acepta y reconoce que de solicitar la aplicación de esta
    forma de resolución del conflicto aceptará las definiciones que tome
    TripWip, las cuales reconoce como válidas para ponerle y nada más tendrá que
    reclamar al Conductor (no a TripWip) por concepto de indemnización.
</p>
    <li>
        <strong>Precio por los Servicios.</strong>
    </li>
<p>
    El Propietario pagará a TripWip como contraprestación por los Servicios un
    porcentaje equivalente al rango de entre 15% hasta 30% sobre el precio de
    cada operación de arrendamiento que se apruebe a través de la plataforma.
    Este porcentaje dependerá del tipo de vehículo del precio listado y de los
    días pactados en el arrendamiento. El precio del servicio de TripWip está
    sujeto a IVA, por lo que a dicho valor se le deberá adicionar el monto
    correspondiente al impuesto referido.
</p>
<p>
    Dicho precio regirá para toda operación originada por un pedido de un
    Conductor de la Plataforma, con independencia de la forma de pago por la que
    se opte.
</p>
    <li>
        <strong>Condiciones de liquidación y forma de pagos.</strong>
    </li>
<p>
    El Propietario autoriza y acepta que TripWip retenga de las sumas que paga
    el Conductor al momento de la reserva a través de la Plataforma el precio
    por los Servicios prestados más el IVA correspondiente y los gastos
    asociados a la contratación en nombre del propietario de la póliza de
    seguro, monto que coincidirá con el pagado por el Conductor por concepto de
    reserva.
</p>
    <li>
        <strong></strong> <strong>Calificaciones.</strong>
    </li>
<p>
    Una vez finalizado el arrendamiento, el Propietario tendrá la posibilidad de
    calificar al Conductor. Esta calificación formará parte del perfil del
    Conductor y servirá como guía para futuros Propietarios.
</p>
<p>
    Adicionalmente, el Propietario acepta que al finalizar un arrendamiento el
    Conductor tendrá la posibilidad de calificarlo, lo que también servirá como
    referencia para los restantes Conductores a la hora de solicitar futuros
    arrendamientos.
</p>
<p>
    TripWip se reserva el derecho de editar y/o eliminar aquellos comentarios
    que sean considerados inadecuados u ofensivos. Además, mantiene el derecho
    de excluir o sancionar a aquellos Propietarios que sean objeto de reiterados
    comentarios negativos con el cese de las actividades del dueño en la
    plataforma.
</p>
    <li>
        <strong>Seguridad y protección de datos.</strong>
    </li>
<p>
    TripWip utiliza tecnología para la protección de la información
    proporcionada por los Conductores. Los Datos Personales registrados en la
    Plataforma no serán transferidos a terceros sin previa autorización del
    Usuario y serán tratados exclusivamente por TripWip. TripWip implementará
    medidas de índole técnico, físico, organizativo y jurídico razonables para
    preservar la seguridad de los datos personales requeridos a los usuarios,
    las que podrán ser consultadas en nuestras políticas de privacidad.
</p>
<p>
    Las Partes asumirán las responsabilidades que pueda corresponderles,
    derivadas de la legislación vigente que resulte de aplicación sobre
    protección de Datos Personales, sobre la base de los siguientes principios:
    (i) los Datos Personales que TripWip entregará al Propietario serán
    propiedad exclusiva de TripWip; (ii) la entrega de los Datos Personales al
    Propietario por parte de TripWip, por cualquier medio, no tendrá la
    consideración de comunicación de datos, sino de simple acceso a los mismos
    como elemento necesario para la prestación de los Servicios.
</p>
<p>
    En virtud de que el Propietario actuará como encargada de tratamiento de
    dichos datos, se obliga a: (i) No utilizar los datos con una finalidad
    diferente a la que figura en este documento, ni comunicarlos a terceros;
    (ii) tratarlos como información confidencial, de acuerdo con lo dispuesto en
    la cláusula 27 (Confidencialidad).
</p>
    <li>
        <strong>Limitación de responsabilidad.</strong>
    </li>
<p>
    TripWip no participa directamente en la publicación del vehículo, como
    tampoco en el perfeccionamiento del arrendamiento entre las Partes. Por lo
    tanto, no será responsable por el cumplimiento de las obligaciones asumidas
    por Propietario y Conductores. Cada Propietario es el único responsable por
    su vehículo publicado, por ende, acepta que al concretar arrendamientos lo
    hace a su propio nombre y bajo su propio riesgo y responsabilidad.
</p>
<p>
    TripWip no será responsable de ningún aspecto referido a los vehículos ni a
    los arrendamientos, incluyendo pero no limitándose a la existencia, calidad,
    cantidad, estado, integridad o legitimidad de los vehículos ofrecidos por
    los Propietarios, la capacidad para contratar de los Propietarios y
    Conductores o de la veracidad de los datos personales aportados por estos.
</p>
<p>
    El Propietario acepta y reconoce el hecho de que el software y los equipos
    informáticos (o hardware) están sujetos a fallas, sea en su funcionamiento
    propio o de sus sistemas. Asimismo, conoce y acepta el hecho de que no
    existen sistemas antifraude o de encriptamiento que no puedan ser burlados o
    violados de alguna manera. En consecuencia, asume plenamente que deberá
    adoptar en forma permanente las medidas preventivas que son usuales en la
    actividad, con el objeto de evitar que las fallas en la Plataforma y el
    software o hardware asociados le causen cualquier tipo de daño o perjuicio o
    los ocasionen a terceros.
</p>
<p>
    De conformidad con lo anterior, el Propietario acepta y reconoce que podrán
    existir restricciones o interrupciones de los Servicios y del acceso a la
    Plataforma ocasionadas como consecuencia de fallas o incidentes descritos en
    el apartado anterior, así como las ocasionadas por actualización o mejora de
    la Plataforma y que no generarán derecho a indemnización alguna ni a
    reducción y/o quita sobre las sumas que este deba pagar a TripWip.
</p>
    <li>
        <strong>Reporte de fallas o incidentes</strong>
    </li>
<p>
    TripWip mantendrá a disposición del Propietario una línea de reportes con el
    Banco de Seguros del Estado relacionados al funcionamiento de la Plataforma
    y eventuales fallas o incidentes que funcionará de lunes a viernes con
    excepción de los días feriados no laborables en el horario de 8.30 a 18.00
    horas, el que podrá ser modificado, restringido o reducido excepcionalmente
    mediando preaviso.
</p>
<p>
    Los reportes se recibirán por los siguientes medios:
</p>
<p>
    Teléfono: …
</p>
<p>
    Correo electrónico: …
</p>
<p>
    WhatsApp: …
</p>
    <li>
        <strong>Prohibiciones.</strong>
    </li>
<p>
    Los Propietarios aceptan y reconocen sin que implique limitación o
    enumeración taxativa que no podrán: (i) mantener comunicaciones con los
    Conductores por fuera de los medios de comunicación aportados y permitidos
    por TripWip; (ii) dar a conocer datos personales propios o de terceros sin
    autorización de TripWip, así como tampoco aceptar datos personales de
    Conductores registrados en la Plataforma fuera de las formas permitidas por
    TripWip; (iii) utilizar comentarios y reputación de la Plataforma para
    concretar arrendamientos por otros medios.
</p>
<p>
    Este tipo de actividades será investigado por TripWip y el Propietario que
    incumpla con estas prohibiciones podrá ser sancionado por TripWip de acuerdo
    con lo establecido en el apartado siguiente.e
</p>
    <li>
        <strong>Sanciones.</strong>
    </li>
<p>
    TripWip podrá advertir, suspender en forma temporal o definitivamente la
    cuenta de un Propietario o tomar otras medidas legales que estime
    pertinentes en caso de constatar un incumplimiento de la normativa vigente,
    cualquiera de las estipulaciones de los TCG, documentos anexos o políticas
    de privacidad. En el caso de la suspensión de un Propietario, sea temporal o
    definitiva, TripWip podrá remover de la Plataforma todas las publicaciones
    del Propietario sancionado.
</p>
    <li>
        <strong>Uso de la Plataforma.</strong>
    </li>
<p>
    El Propietario acepta que TripWip se reserva el derecho de eliminar cuentas
    de usuario que han estado inactivas por un período mayor  a 30 días sin
    necesidad de notificación previa y de modificar prácticas aceptadas y
    limitaciones en cualquier momento, a su solo arbitrio y sin necesidad de
    preaviso.
</p>
<p>
    El Propietario se compromete a utilizar la Plataforma única y exclusivamente
    en relación con los Servicios y en ningún caso para cualquier fin distinto
    del previsto en estos TCG o que resulte de cualquier manera contrario a la
    ley o normativa aplicable, a la moral o las buenas costumbres, así como a
    las pautas de seguridad de la información que se le comuniquen para el uso
    de su cuenta de usuario. El Propietario acepta y reconoce que en caso de
    incumplimiento de lo aquí dispuesto, así como cuando se detectare actividad
    anómala que puede dañar o acceder sin autorización a la Plataforma,
    información o datos, TripWip tendrá derecho a remover cualquier contenido,
    así como a suspender o eliminar su cuenta de usuario sin necesidad de
    preaviso.
</p>
    <li>
        <strong>Propiedad Intelectual.</strong>
    </li>
<p>
    El Propietario reconoce que la autorización de uso de la Plataforma que
    adquiere por los presentes TCG no genera transferencia o cesión alguna sobre
    los derechos de Propiedad Intelectual o sobre activo alguno de TripWip o
    quienes ostenten derechos sobre estos. La Propiedad Intelectual sobre el
    Contenido existente en la Plataforma, así como sobre el software y cualquier
    desarrollo actual o futuro que se genere como consecuencia del presente
    contrato -incluido mejoras del software, actualizaciones, parches o
    mantenimiento- pertenecerán en exclusiva a TripWip o terceros que ostenten
    derechos sobre este.
</p>
<p>
    El Propietario acepta y reconoce que TripWip podrá realizar las
    modificaciones y ajustes a la Plataforma que considere apropiados, a su
    exclusivo criterio y en cualquier momento, pudiendo incluso modificar las
    funcionalidades de la Plataforma, la forma de prestar los Servicios, etc.,
    sin que esto implique incumplimiento de TripWip ni genere un derecho a
    reclamo alguno del Propietario.
</p>
    <li>
        <strong>Indemnidad.</strong>
    </li>
<p>
    El Propietario se obliga a defender y mantener indemne a TripWip, sus
    socios, empleados y colaboradores a cualquier título, por cualquier reclamo
    que reciban de un Conductor o de cualquier otro tercero o autoridad,
    realizado o entablado en el marco de un procedimiento judicial,
    extrajudicial o administrativo, por pérdidas, daños, penalidades, costos,
    gastos, tributos, multas o desembolsos de cualquier tipo, incluyendo
    condenas o sentencias, que deriven o que tengan relación directa o indirecta
    con actos u omisiones del Propietario o del Conductor derivadas de la
    relación generada a través del uso de la Plataforma (incluyendo pero no
    limitándose a  incumplimientos del arrendamiento  de los presentes TCG u
    obligaciones que la ley pone a su cargo). Esta obligación de indemnidad
    comprende el reembolso de las sumas reclamadas, así como los gastos y
    honorarios de abogados en que deba incurrir la TripWip, sus socios,
    empleados y colaboradores a cualquier título.
</p>
<p>
    TripWip no asume responsabilidad por los impuestos que se puedan generar de
    cargo del propietario por dar en arrendamiento los vehículos incluidos en
    estos TCG. El propietario deberá evaluar y analizar la correcta aplicación
    de las normas fiscales que son aplicables a su situación y al negocio que
    está llevando adelante, liberando a TripWip de cualquier incumplimiento o
    reclamo por parte de la autoridad fiscal de nuestro país.
</p>
<p>
    TripWip tendrá derecho a resarcirse de cualquier reclamo que pudiera
    efectuar la autoridad fiscal generado por la actividad del propietario.
</p>
    <li>
        <strong>Confidencialidad.</strong>
    </li>
<p>
    Las Partes se obligan a mantener bajo reserva y tratar como confidencial
    toda información que reciban o adquieran por cualquier medio durante el
    desarrollo del contrato regulado por los presentes TCG.
</p>
<p>
    En virtud de lo anterior, las Partes se obligan a: (i) no divulgar esta
    información confidencial, ni total ni parcialmente, ni a utilizarla en
    beneficio propio ni de terceros, salvo autorización expresa y por escrito de
    la otra parte o en la medida en que ello sea necesario para ejercer los
    derechos o cumplir con las obligaciones emergentes del presentes TCG o de la
    normativa aplicable; (ii) adoptar las medidas de índole técnica y
    organizativa necesarias y razonables para mantener la seguridad de la
    información y evitar su alteración, pérdida, sustracción, tratamiento o
    acceso no autorizado.
</p>
<p>
    Sin perjuicio de lo dispuesto en esta cláusula, el Propietario autoriza
    expresamente a TripWip a proporcionar la información fiscal y datos de
    contacto del Propietario en caso de que sean requeridos por una autoridad
    administrativa y/o judicial. En caso de reclamos de Conductores, se
    proporcionará a estos últimos o a la autoridad correspondiente la
    información de contacto que el Propietario haya registrado en su cuenta.
</p>
<p>
    Las Partes serán responsables del cumplimiento de esta obligación por sí y
    por cualquiera de sus socios, accionistas, representantes, empleados,
    subcontratistas, asesores o colaboradores a cualquier título.
</p>
    <li>
        <strong>Modificación de los Términos y Condiciones.</strong>
    </li>
<p>
    Los Propietarios están en conocimiento de que TripWip puede modificar estos
    Términos y Condiciones en el momento que lo crea adecuado sin necesidad de
    informar a los Propietarios sobre dicha modificación. La versión vigente de
    los mismos se encontrará en la Plataforma y es obligación de los
    Propietarios su revisión periódica. Se deja en claro que el uso de la
    Plataforma implica la aceptación de los Términos y condiciones vigentes al
    momento del uso.
</p>
    <li>
        <strong>Terminación.</strong>
    </li>
<p>
    Los presentes Términos y condiciones se entenderán aceptados al momento en
    que el Propietario comience a utilizar la Plataforma y permanecerán vigentes
    hasta que la misma sea cancelada o dada de baja. TripWip se reserva el
    derecho de dar de baja los TCG, así como de modificarlos en cualquier
    momento y/o dar de baja a la Plataforma o suspender temporalmente el uso de
    la misma, sin que esto genere posibilidad de reclamo o resarcimiento a favor
    del Propietario.
</p>
    <li>
        <strong>Solución de Controversias.</strong>
    </li>
<p>
    Para el caso de cualquier controversia entre las Partes se fija competencia
    de los Jueces del Departamento de Montevideo y sujeción del conflicto a las
    leyes de la República Oriental del Uruguay.
</p>