<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar-custom">
    
    <!-- Tab 1: Home -->
    <ion-tab-button tab="home" class="tab-button-custom">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Explore -->
    <ion-tab-button tab="explore" class="tab-button-custom">
      <ion-icon name="map" aria-hidden="true"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Publish -->
    <ion-tab-button tab="publish" class="tab-button-custom tab-button-center">
      <ion-icon name="add-circle" aria-hidden="true"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>

    <!-- Tab 4: Bookings -->
    <ion-tab-button tab="bookings" class="tab-button-custom">
      <ion-icon name="car" aria-hidden="true"></ion-icon>
      <ion-label>Viajes</ion-label>
    </ion-tab-button>

    <!-- Tab 5: Profile -->
    <ion-tab-button tab="profile" class="tab-button-custom">
      <ion-icon name="person" aria-hidden="true"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
