.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #000; // Fallback
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out, visibility 0.5s;

  &.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
