.notification-toast {
  transform: translateX(400px);
  opacity: 0;
}

.notification-toast--visible {
  transform: translateX(0);
  opacity: 1;
}

.notification-toast--hidden {
  transform: translateX(400px);
  opacity: 0;
}
